<h2>New blog</h2>
<% include partials/header %>

<form action="/blogs" method="POST">
  <label>Title</label>
  <input type="text" name="blog[title]" placeholder="title">
  <label>Content</label>
  <textarea name="blog[body]"></textarea>
  <input type="submit">
</form>

<a href="/blogs">Go back</a>

<% include partials/footer %>
